<div class="container-fluid">
    <div class="top">
        <p class="heading"> Flipr Hackathon 4.0 </p>
        <p class="sub-heading"> Full Stack Problem </p>
    </div>
    <div class="bottom">
        <div class="outer-layout">
            <div class="header"> Recover your Account </div>
            <form>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter your Email">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div> 
    </div>
</div>